{{#each this}}
<div class="photo-card">
    <div class="img-container">
        <img src="{{this.webformatURL}}" alt="" width="295" data-source="{{this.largeImageURL}}" />
    </div>
    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            {{this.likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            {{downloads}}
        </p>
    </div>
</div>
{{/each}}